@import url("https://use.typekit.net/jmk3xov.css");
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.6);
  --spacing: 350px;

  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3,p, blockquote {
  text-align: center;
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

  header, footer {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem; 
    margin-bottom: var(--spacing);
  }

  footer{
    margin-top: 7rem;
    width: 60vw;
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom:  var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: 2rem;
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  #slogan {
    padding-bottom: 25em;
  }

  .hover-zoom {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 130%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  position: relative;
}

.hover-zoom:hover {
  background-size: 200%;
}

  .left {
    grid-column: 6 / 12;
  }
  /* Nav Bar */
nav {
  position:absolute;
  width: 100%;
  font-size: x-large;
}
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}